:root{
    --c-black: #171717; /*coral-black*/
    --c-gray: #444444; /*gray*/
    --c-white: #EDEDED; /*ghost-white*/
    --c-red: #DA0037; /*red*/

    --fs-cap-lg: 30px;
    --fs-cap-sm: 35px;

    --fs-tit-lg: 50px;
    --fs-tit-sm: 60px;
}


@font-face {
    font-family: 'Poppins';

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a.no-style:link {
    text-decoration: inherit;
    color: inherit;
}

a.no-style:visited {
    text-decoration: inherit;
    color: inherit;
}





/* SMARTPHONE */
@media (min-width: 991px){

}

/* TABLET */
@media (min-width: 991px){

}

/* PC */
/*@media (min-width: 1312px){*/
    section {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    /*WELCOME SECTION*/
    section.welcome-view {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--c-black);
    }

    section.welcome-view .section-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 50px;
        margin-right: 50px;
    }

    section.welcome-view .section-header .logo{
        color: var(--c-red);
        font-size: 60px;
    }

    section.welcome-view .section-header .reach-me{
        color: var(--c-red);
        border: 2px solid var(--c-red);
        padding-right: 20px;
        padding-left: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        font-weight: 800;
        font-size: 20px;
        background-color: var(--c-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section.welcome-view .section-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    section.welcome-view .section-content .title{
        font-weight: bold;
        color: var(--c-white);
        font-size: 60px;
        max-width: 70vw;
        margin: auto;
    }

    section.welcome-view .section-content .caption{
        font-weight: lighter;
        color: var(--c-white);
        font-size: 40px;
    }

    section.welcome-view .section-content .image{
        width: 200px;
        height: 200px;
        margin: auto;
    }

    section.welcome-view .section-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section.welcome-view .section-footer .image{
        width: 150px;
        height: 100px;
    }



    /*EXPERIENCE SECTION*/
    section.experience-view {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--c-white);
    }

    section.experience-view .section-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5vw;
    }

    section.experience-view .section-content .section-title{
        font-size: 100px;
    }

    /*section.experience-view .section-content .slider-wrapper{*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: space-between;*/
    /*    text-align: end;*/
    /*    font-size: 130%;*/
    /*}*/

    /*section.experience-view .section-content .experience{*/
    /*    margin-bottom: 20px;*/
    /*}*/

    /*section.experience-view .section-content .experience .description{*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: flex-end;*/
    /*    flex-wrap: wrap;*/
    /*}*/

    /*section.experience-view .section-content .experience .description .job-title{*/
    /*    margin-right: 20px;*/
    /*    font-weight: 500;*/
    /*}*/

    /*section.experience-view .section-content .experience .description .job{*/
    /*    margin-right: 10px;*/
    /*    font-weight: 700;*/
    /*}*/

    /*section.experience-view .section-content .experience .description .date{*/
    /*    color: var(--c-red);*/
    /*}*/



    section.experience-view .section-content .slider-wrapper{
        max-width: 80vw;
        background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 50vh;
        max-height: 60vh;
    }

    section.experience-view .section-content .slider-wrapper .experience-list-wrapper{
        background-color: red;
        width: fit-content;
        padding: 30px;
        margin: 20px;
        flex-shrink: 2;
        border-radius: 5px;
    }

    section.experience-view .section-content .slider-wrapper .experience-description-wrapper{
        background-color: green;
        width: fit-content;
        padding: 30px;
        margin:20px;
        flex-shrink: 1;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
    }


    section.experience-view .section-content .slider-wrapper .experience-description-wrapper .experience-description-header{
        display: none;
    }

    section.experience-view .section-content .slider-wrapper .experience-description-wrapper .experience-description-header.visible{
        background-color: yellow;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0 10px 0;
    }

    section.experience-view .section-content .slider-wrapper .experience-description-wrapper .experience-description-header .leading {
        background-color: orange;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0 10px 0;
    }

    section.experience-view .section-content .slider-wrapper .experience-description-wrapper .experience-description-header .trailing {
        background-color: orange;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0 10px 0;
    }

    section.experience-view .section-content .slider-wrapper .experience-description-wrapper .experience-description{
        display: none;
    }

    section.experience-view .section-content .slider-wrapper .experience-description-wrapper .experience-description.visible{
        display: block;
        overflow-y: scroll;
    }

    section.experience-view .section-content .slider-wrapper .experience-description-wrapper .header .job-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 2;
        margin-left: 20px;
    }



    /*EDUCATION SECTION*/
    section.education-view {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--c-white);
    }

    section.education-view .banner{
        position: absolute;
        width: 100%;
        background: var(--c-red);
        height: 475px;
        z-index: 0;
    }

    section.education-view .section-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        margin: 5vw;
    }

    section.education-view .section-content .section-title{
        text-align: center;
        font-size: 100px;
    }

    section.education-view .section-content .education-group{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    section.education-view .section-content .education-group .education{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background: var(--c-white);
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
        height: 475px;
        width: 250px;
    }

    section.education-view .section-content .education-group .education .logo{
        /*width: 100px;*/
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }


    /*AWARD VIEW*/
    section.award-view {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--c-white);
    }

    section.award-view .section-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5vw;
    }

    section.award-view .section-content .section-title{
        text-align: end;
        font-size: 100px;
    }

    section.award-view .section-content .awards-group{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    section.award-view .section-content .awards-group .award.spec{
        margin-bottom: 50px;
        margin-right: 50px;
    }

    section.award-view .section-content .awards-group .award.cert{
        margin-top: 50px;
        margin-right: 50px;
    }

    section.award-view .section-content .awards-group .award .type{
        font-size: 50px;
    }

    section.award-view .section-content .awards-group .award tr td{
        padding: 10px;
    }




    section.contacts-view {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--c-black);
        color: var(--c-white);
    }

    section.contacts-view .section-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5vw;
        padding: 100px 50px 100px 50px;
        border-radius: 7px;
        /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,*/
        /*            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/

        /*box-shadow:rgb(38 57 77) 0px 0px 60px 0px;*/
    }

    section.contacts-view .section-content .section-title{
        /*text-align: end;*/
        font-size: 100px;
    }

    section.contacts-view .section-content .contact-group{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    section.contacts-view .section-content .contact-group .contact{
        width: 200px;
        height: 200px;
        overflow: hidden;
        transition: .7s;
    }

    section.contacts-view .section-content .contact-group .contact .contact-icon{
        transition: .7s;
    }

    section.contacts-view .section-content .contact-group .contact:hover .contact-icon{
        margin-top: -120px;
        transition: 1s;
    }

    section.contacts-view .section-content .contact-group .contact .contact-text{
        font-size: 35px;
        text-align: center;
        transition: .4s;
    }

    section.contacts-view .section-content .contact-group .contact .contact-text:hover{
        color: var(--c-red);
        font-weight: 600;
        letter-spacing: 1px;
        transition: .4s;
    }


    section.contacts-view .section-content i {
        /*text-align: end;*/
        font-size: 200px;
        transition: .3s;
    }

    section.contacts-view .separator {
        position: absolute;
        width: 110vw;
        min-height: 200px;
        height: 15vw;
        top: -9vw;
        left: -50px;
        background-color: var(--c-white);
        transform: rotate(
                356deg
        );
        transform-origin: top right;
    }




    section.others-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        background-color: var(--c-black);
        color: var(--c-white);
    }

    section.others-view .section-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    section.others-view .section-content img{
        border-radius: 20px;
    }

    section.others-view .footer{
        position: absolute;
        bottom: 70px;
        width: 100%;
        text-align: center;
    }



/*}*/

